body {
	background-color: grey;
}
#container {
	margin-left: auto;
}
table {
	margin-top:100px;
	margin-left:auto; 
    margin-right:auto;
}
td {
    border: 1px solid white;
	color:white;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
}
.key{
	padding: 28px;
}
#bear {
	color:black;
}